<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="row form-inline">
                            <div class="col-md-4">
                                <b>IP:</b>
                                <input type="text" class="form-control" id="usr" placeholder="<%= data.ip %>" disabled>
                            </div>
                            <div class="col-md-4">
                                <b>PATH:</b>
                                <input type="text" class="form-control" id="usr" placeholder="<%= data.path %>"
                                       disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col">
                        <div class="card bg-light text-dark">
                            <textarea class="form-control" rows="15" style="width: 100%;height: 100%;" disabled><%= data.cont %></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">&nbsp;</div>
