<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="form-group m-auto text-center">
                        <textarea class="form-control" rows="6" id="ips" placeholder="ip list"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group mb-3 m-auto">
                            <div class="input-group-prepend">
                                <span class="input-group-text">/usr/local/</span>
                            </div>
                            <input id="path" type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-8">
                        <form class="form m-auto">
                            <input type="text" class="form-control mb-3" id="user" placeholder="Enter username">
                            <input type="password" class="form-control mb-3" id="pwd" placeholder="Enter password">
                        </form>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col form-group form-inline">
<!--                                <label>并发度</label>-->
<!--                                <select class="form-control" id="sel">-->
<!--                                    <option>1</option>-->
<!--                                    <option>2</option>-->
<!--                                    <option>3</option>-->
<!--                                    <option>5</option>-->
<!--                                </select>-->
                                <label>显示数量</label>
                                <select class="form-control" id="count">
                                    <option>100</option>
                                    <option>200</option>
                                    <option>300</option>
                                    <option>500</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m-auto">
                                <button id="btn" type="submit" class="btn btn-primary mb-3" style="width: 100%;">查看</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
